- var fonts = "Alice|Raleway:700,500,300|Open+Sans:300,400,300,600,700|Source+Sans+Pro:400,200,300";
- var env = {};

<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(href='//fonts.googleapis.com/css?family=#{fonts}' rel='stylesheet' type='text/css')
  link(href='/css/normalize.css' rel='stylesheet' type='text/css')
  meta(name="viewport", content="width=device-width")
  block meta
  - var site = "sitename"
  block title
    - var title = ""
  if title
    title=title + " | " + site
  else
    title=site
  link(rel="stylesheet", href="/css/main.css")
  block head

body
  header
    block header
      include header
  #content
    block content
  footer
    block footer
      .footer.wrapper &copy; #{env.site} #{new Date().getFullYear()}
  script(src="/scripts/site.js")
  block scripts

