extends ./shared/layout.jade



block title
  - var title = "Customize Your Order"

block scripts
  script(src="/scripts/customize.js")

block content
  unless model
    - throw new Error("Model missing from customize.jade")

  - var maxcharlength = 24;
  - colors = ["#ffffff", "#00aacc"];
  .fullpage
    section.customize

      .wrapper
        h1 Customize your Order
        p You can choose from several options to make your piece personal.

        section#material-and-size
          h2 Material &amp; Size
          p Pick the material and size you want.
          input(type="hidden", name="material", id="material", value="canvas")
          .materials-select
            .row
              each material, key in model
                .col.w8
                  a.material(data-select=material.value, id=("material-" + material.value))
                    img(src=("/images/" + material.image), alt="")
                    h3=key
                    .description
                      p=material.description
          .row
            #canvas-sizes
              .col.w12
                .row
                  .sizes.col.w12
                    each material, key in model
                        .size(data-select=material.value).text-center
                          h3=(key + " Sizes")
                          .row
                            label(for=material.selector) Choose a size:
                          .row
                            select(id=material.selector, name=material.selector)
                              each option, text in material.dimensions
                                option(value=text)!=option.label
              .col.w12
                h3 Oreintation
                .row
                  input#landscape(name="landscape", type="checkbox")
                  label(for="landscape") Landscape
                  #layout-example
                    canvas#size
        section#text
          h2 Content
          p Enter the text you want.
          .row
            .col.w24
              input#customtext(type="text", name="customtext", required)
              span.chars
                span#char-count 0
                | /
                span#char-max=maxcharlength

        section#color-scheme
          h2 Color Scheme
          p
            | Choose some base colors, and our artists will use them in the piece.
          .row
            .col.w12
              label(for="artist-choice") Let artists pick colors
                input(type="checkbox", name="artist-choice", id="artist-choice")
              hr
          .row.pick-colors.active
            .colors
              - var count = 0
              - for color in colors
                - var selector = "color" + count;
                - var modifier = "";
                if color === null
                  - modifier = "hidden"
                .color(class=modifier)
                  .row
                    .col.w8
                      if count === 0
                        label(for=selector) Pick a background color
                        .comment Leave white for no background color
                      else
                        label(for=selector) Pick color #{count}
                    .col.w16
                      input(type="color", name=selector, id=selector, value=color)
                      if count > 0
                        a.close &times;
                  - count++
            .row
              .col.w12
                button#add-another-color.btn.block-center.action.small(type="button") #[b +] add another color
            .row
              p.comment Product hues may vary from picked colors. &nbsp;
                a(href="/faq#color-variance") Learn more

        section#comments
          h2 Comments
          p Let us know about any special instructions you'd like to give, placement of text, etc.
          textarea#message(name="", cols="40", rows="6")

        #next.hook
          input.btn.primary(type="button", value="Review Order")
