extends ./shared/layout.jade



block scripts
  script(src="/scripts/customize.js")

block content
  - var maxcharlength = 24;
  - colors = ["#ffffff", "#00aacc"];
  .fullpage
    section.customize
      .wrapper
        h1 Customize your Order
        p You can choose from several options to make your piece personal.
        #material-and-size
          h2 Material &amp; Size
          .row
            .col.w8
              label(for="material") Choose a material:
            .col.w6
              select#material(name="material")
                option(value="canvas", selected) Stretched Canvas
                option(value="panel") Canvas Panel
                option(value="wood") Raw Wood
          .row
            .col.w24

          .row
            .col.w16
              #canvas-sizes.sizes.active
                h3 Stretched Canvas Sizes
                .row
                  .col.w8
                    label(for="canvas dimensions") Choose a size:
                  .col.w16
                    select#canvas-dimensions(name="canvas dimensions")
                      option(value="4x4") 4 &times; 4
                      option(value="8x10", selected) 8 &times; 10
                      option(value="9x12") 9 &times; 12
                      option(value="11x14") 11 &times; 14
                      option(value="12x16") 12 &times; 16
              #panel-sizes.sizes
                h3 Canvas Panel Sizes
                .row
                  .col.w8
                    label(for="dimension") Choose a size:
                  .col.w16
                    select#panel-dimensions(name="dimensions")
                      option(value="8x10", selected) 8 &times; 10
                      option(value="9x12") 9 &times; 12
                      option(value="11x14") 11 &times; 14
                      option(value="12x16") 12 &times; 16
              #wood-sizes.sizes
                h3 Wood Piece Sizes
                .row
                  .col.w8
                    label(for="wood dimensions") Choose a size:
                  .col.w16
                    select#wood-dimensions(name="wood dimensions")
                      option(value="4x4")   4 &times; 4
                      option(value="8x10", selected)  8 &times; 10
                      option(value="9x12")  9 &times; 12
                      option(value="11x14") 11 &times; 14
                      option(value="12x16") 12 &times; 16
            .col.w8
              h3 Layout Example
              .row
                input#landscape(name="landscape", type="checkbox")
                label(for="landscape") Landscape
              .row
                #layout-example
                  canvas#size
        #text
          h2 Content
          p Enter the text you want.
          .row
            .col.w24
              input#customtext(type="text", name="customtext", maxlength=maxcharlength required)
              span.chars
                span#char-count 0
                | /
                span#char-max=maxcharlength

        #color-scheme
          h2 Color Scheme
          p
            | Choose some base colors, and our artists will use them in the piece.
          .row
            .col.w12
              label(for="artist-choice") Let artists pick colors
                input(type="checkbox", name="artist-choice", id="artist-choice")
              hr
          .pick-colors.active

            .colors
              - var count = 0
              - for color in colors
                - var selector = "color" + count;
                - var modifier = "";
                if color === null
                  - modifier = "hidden"
                .color(class=modifier)
                  .row
                    .col.w8
                      if count === 0
                        label(for=selector) Pick a background color
                        .comment Leave white for no background color
                      else
                        label(for=selector) Pick color #{count}
                    .col.w16
                      input(type="color", name=selector, id=selector, value=color)
                      if count > 0
                        a.close &times;
                  - count++
            .row
              .col.w12
                button#add-another-color.btn.block-center.action.small(type="button") #[b +] add another color

        #comments
          h2 Comments
          p Let us know about any special instructions you'd like to give, placement of text, etc.
          textarea#message(name="", cols="60", rows="6")
        #next.hook
          input.btn.primary(type="button", value="Review Order")
